* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: #474040;
    color: #faefef;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.7s ease-in-out;
}

.box {
    width: 200px;
    height: 250px;
    background-color: #fff;
    color: #3e3e42;
    font-size: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
}

.box-btn {
    width: 60%;
    height: 15%;
    border: none;
    background-color: #637ad1;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    border-radius: 10px;
}

.box-btn:hover {
    background-color: #4e556f;
}

.up {
    margin-top: -100vh;
}

.box-input {
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    font-size: 20px;
}

.box-value {
    margin-top: 10px;
    outline: none;
    height: 30px;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 22px;
    width: 90%;
}

.square {
    width: 16px;
    height: 16px;
    background-color: #1d1d1d;
    margin: 2px;
    box-shadow: 0 0 2px #000;
    transition: 2s ease;
}

.square:hover {
    transition-duration: 0s;
}

.board{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
}